body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
}


.article img {
    max-width: 150px; 
}

h1, h2, h3, h4, h5, h6 {
    color: #006699;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #006699;
}

a:hover {
    color: #004466;
}

article {
    margin-bottom: 20px;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.right {
    float: right;
}
